In [19]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [20]:
# Ensure plots show in the notebook
%matplotlib inline

In [21]:
import os

# Create directory for plots if it doesn't exist
os.makedirs('distribution_plots', exist_ok=True)

In [22]:
# Read the CSV file
df = pd.read_csv('NFLX.csv')

CHECK OUTLIER

In [23]:
# Function for detailed outlier analysis
def comprehensive_outlier_detection(dataframe):
    # Identify numeric columns
    numeric_columns = dataframe.select_dtypes(include=[np.number]).columns
    
    # Create a figure for boxplots
    plt.figure(figsize=(15, 6))
    
    # Outlier detection results dictionary
    outlier_results = {}
    
    # Iterate through numeric columns
    for col in numeric_columns:
        # Calculate Q1, Q3, and IQR
        Q1 = dataframe[col].quantile(0.25)
        Q3 = dataframe[col].quantile(0.75)
        IQR = Q3 - Q1
        
        # Define outlier bounds
        lower_bound = Q1 - 1.5 * IQR
        upper_bound = Q3 + 1.5 * IQR
        
        # Identify outliers
        outliers = dataframe[(dataframe[col] < lower_bound) | (dataframe[col] > upper_bound)]
        
        # Store results
        outlier_results[col] = {
            'total_outliers': len(outliers),
            'percentage_outliers': (len(outliers) / len(dataframe)) * 100,
            'lower_bound': lower_bound,
            'upper_bound': upper_bound,
            'outliers': outliers
        }
        
        # Print detailed outlier information
        print(f"\nOutlier Analysis for {col}:")
        print(f"Total Outliers: {len(outliers)}")
        print(f"Percentage of Outliers: {(len(outliers) / len(dataframe)) * 100:.2f}%")
        print(f"Lower Bound: {lower_bound}")
        print(f"Upper Bound: {upper_bound}")
        
        # If there are outliers, print them
        if len(outliers) > 0:
            print("\nOutlier Details:")
            print(outliers)
        
        # Boxplot for visualization
        plt.subplot(1, len(numeric_columns), list(numeric_columns).index(col) + 1)
        sns.boxplot(x=dataframe[col])
        plt.title(f'Boxplot of {col}')
    
    # Save boxplot
    plt.tight_layout()
    plt.savefig('outliers_boxplot.png')
    plt.close()
    
    return outlier_results

# Perform outlier detection
outlier_analysis = comprehensive_outlier_detection(df)

Outlier Analysis for Open:
Total Outliers: 0
Percentage of Outliers: 0.00%
Lower Bound: 65.02996749999994
Upper Bound: 775.5900275

Outlier Analysis for High:
Total Outliers: 0
Percentage of Outliers: 0.00%
Lower Bound: 67.30496249999999
Upper Bound: 784.6250305

Outlier Analysis for Low:
Total Outliers: 0
Percentage of Outliers: 0.00%
Lower Bound: 61.20500150000004
Upper Bound: 767.3249974999999

Outlier Analysis for Close:
Total Outliers: 0
Percentage of Outliers: 0.00%
Lower Bound: 65.43000700000005
Upper Bound: 775.2699749999999

Outlier Analysis for Adj Close:
Total Outliers: 0
Percentage of Outliers: 0.00%
Lower Bound: 65.43000700000005
Upper Bound: 775.2699749999999

Outlier Analysis for Volume:
Total Outliers: 57
Percentage of Outliers: 5.65%
Lower Bound: -3753850.0
Upper Bound: 17168150.0

Outlier Details:
            Date        Open        High         Low       Close   Adj Close  \
19    2018-03-05  302.850006  316.910004  297.600006  315.000000  315.000000
20    2018-03-06  319.880005  325.790009  316.500000  325.220001  325.220001
24    2018-03-12  333.559998  333.980011  318.600006  321.299988  321.299988
36    2018-03-28  298.390015  298.799988  281.609985  285.769989  285.769989
37    2018-03-29  287.000000  295.350006  275.899994  295.350006  295.350006
48    2018-04-16  315.989990  316.100006  304.000000  307.779999  307.779999
49    2018-04-17  329.660004  338.619995  323.769989  336.059998  336.059998
89    2018-06-13  367.529999  384.250000  364.109985  379.929993  379.929993
95    2018-06-21  421.380005  423.209991  406.369995  415.440002  415.440002
97    2018-06-25  404.690002  405.989990  378.750000  384.480011  384.480011
111   2018-07-16  398.980011  403.359985  391.750000  400.480011  400.480011
112   2018-07-17  346.950012  385.000000  344.000000  379.480011  379.480011
113   2018-07-18  381.239990  383.130005  372.359985  375.130005  375.130005
121   2018-07-30  351.929993  352.029999  334.019989  334.959991  334.959991
141   2018-08-27  367.149994  374.489990  360.000000  364.579987  364.579987
172   2018-10-10  353.519989  355.149994  325.390015  325.890015  325.890015
176   2018-10-16  337.239990  347.950012  330.559998  346.399994  346.399994
177   2018-10-17  378.329987  380.000000  356.500000  364.700012  364.700012
178   2018-10-18  360.670013  362.200012  346.049988  346.709991  346.709991
182   2018-10-24  332.279999  333.000000  300.730011  301.829987  301.829987
184   2018-10-26  300.510010  313.989990  292.299988  299.829987  299.829987
185   2018-10-29  305.260010  307.890015  275.399994  284.839996  284.839996
186   2018-10-30  275.570007  290.519989  271.209991  285.809998  285.809998
187   2018-10-31  297.769989  311.500000  295.049988  301.779999  301.779999
222   2018-12-21  263.829987  264.500000  241.289993  246.389999  246.389999
230   2019-01-04  281.880005  297.799988  278.540009  297.570007  297.570007
231   2019-01-07  302.100006  316.799988  301.649994  315.339996  315.339996
235   2019-01-11  330.959991  341.089996  328.519989  337.589996  337.589996
237   2019-01-15  349.600006  357.220001  347.000000  354.640015  354.640015
239   2019-01-17  349.500000  355.790009  346.410004  353.190002  353.190002
240   2019-01-18  351.970001  353.000000  336.730011  339.100006  339.100006
241   2019-01-22  334.890015  336.880005  321.029999  325.160004  325.160004
300   2019-04-16  355.000000  364.480011  352.720001  359.459991  359.459991
301   2019-04-17  365.049988  368.760010  350.600006  354.739990  354.739990
364   2019-07-18  323.760010  329.850006  320.299988  325.209991  325.209991
366   2019-07-22  312.000000  314.540009  305.809998  310.619995  310.619995
409   2019-09-20  280.260010  282.500000  266.000000  270.750000  270.750000
428   2019-10-17  304.489990  308.750000  288.299988  293.350006  293.350006
429   2019-10-18  289.359985  290.899994  273.359985  275.299988  275.299988
493   2020-01-22  332.549988  336.299988  323.600006  326.000000  326.000000
494   2020-01-23  326.040009  349.880005  325.010010  349.600006  349.600006
495   2020-01-24  348.459991  359.850006  345.880005  353.160004  353.160004
555   2020-04-21  444.769989  447.000000  425.600006  433.829987  433.829987
556   2020-04-22  429.730011  433.000000  413.000000  421.420013  421.420013
611   2020-07-10  519.729980  555.880005  511.279999  548.729980  548.729980
612   2020-07-13  567.979980  575.369995  520.960022  525.500000  525.500000
615   2020-07-16  526.479980  535.539978  504.359985  527.390015  527.390015
616   2020-07-17  494.869995  503.589996  484.140015  492.989990  492.989990
644   2020-08-26  492.500000  549.039978  492.079987  547.530029  547.530029
683   2020-10-21  501.029999  506.850006  488.250000  489.049988  489.049988
744   2021-01-20  565.419983  593.289978  556.859985  586.340027  586.340027
807   2021-04-21  508.000000  515.460022  503.600006  508.899994  508.899994
998   2022-01-21  400.429993  409.149994  379.989990  397.500000  397.500000
999   2022-01-24  383.910004  387.260010  351.459991  387.149994  387.149994
1002  2022-01-27  382.059998  394.799988  378.100006  386.700012  386.700012
1004  2022-01-31  401.970001  427.700012  398.200012  427.140015  427.140015
1005  2022-02-01  432.959991  458.480011  425.540009  457.130005  457.130005

        Volume
19    18986100
20    18525800
24    20369200
36    18972900
37    19145500
48    20307900
49    33866500
89    18222800
95    18389900
97    22490900
111   22960000
112   58410400
113   21746300
121   18260700
141   17427300
172   17183100
176   20156400
177   32610900
178   18461000
182   19039300
184   19616000
185   21698800
186   23685700
187   20360300
222   21397600
230   19330100
231   18620100
235   19500400
237   21181200
239   18871200
240   26621000
241   17941400
300   18740200
301   18054100
364   31287100
366   17718000
409   23832800
428   38258900
429   23429900
493   21730000
494   18200300
495   17939700
555   23177600
556   21084800
611   21605600
612   18399000
615   24499000
616   24991400
644   20373700
683   17405700
744   32637500
807   22897400
998   58904300
999   32346000
1002  24324700
1004  20047500
1005  22542300

1. DATA OVERVIEW

In [24]:
print(f"Number of Rows: {df.shape[0]}")
print(f"Number of Columns: {df.shape[1]}")
print("\nColumn Data Types:")
print(df.dtypes)

Number of Rows: 1009
Number of Columns: 7

Column Data Types:
Date          object
Open         float64
High         float64
Low          float64
Close        float64
Adj Close    float64
Volume         int64
dtype: object

2. DATA QUALITY ASSESSMENT

In [25]:
# Check for missing values
print("Missing Values:")
print(df.isnull().sum())

Missing Values:
Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64

In [26]:
# Identify duplicate records
duplicates = df.duplicated()
print(f"\nNumber of Duplicate Records: {duplicates.sum()}")
if duplicates.sum() > 0:
    print("Duplicate Rows:")
    print(df[duplicates])

Number of Duplicate Records: 0

3. DATA PREPROCESSING

In [27]:
# Convert Date column to datetime
df['Date'] = pd.to_datetime(df['Date'])

In [28]:
# Interpolate missing values
numeric_columns = df.select_dtypes(include=[np.number]).columns
df_processed = df.copy()
df_processed[numeric_columns] = df_processed[numeric_columns].interpolate()

print("Preprocessing Complete:")
print("- Date column converted to datetime")
print("- Missing values interpolated")

Preprocessing Complete:
- Date column converted to datetime
- Missing values interpolated

In [29]:
# Save processed data
df_processed.to_csv('preprocessed_exp.csv', index=False)
print("\nPreprocessed data saved to 'preprocessed_DATA.csv'")

Preprocessed data saved to 'preprocessed_DATA.csv'

4. DESCRIPTIVE STATISTICS

In [30]:
# Detailed descriptive statistics
desc_stats = df_processed[numeric_columns].describe()
print(desc_stats)

              Open         High          Low        Close    Adj Close  \
count  1009.000000  1009.000000  1009.000000  1009.000000  1009.000000
mean    419.059673   425.320703   412.374044   419.000733   419.000733
std     108.537532   109.262960   107.555867   108.289999   108.289999
min     233.919998   250.649994   231.229996   233.880005   233.880005
25%     331.489990   336.299988   326.000000   331.619995   331.619995
50%     377.769989   383.010010   370.880005   378.670013   378.670013
75%     509.130005   515.630005   502.529999   509.079987   509.079987
max     692.349976   700.989990   686.090027   691.690002   691.690002

             Volume
count  1.009000e+03
mean   7.570685e+06
std    5.465535e+06
min    1.144000e+06
25%    4.091900e+06
50%    5.934500e+06
75%    9.322400e+06
max    5.890430e+07

5. DISTRIBUTION ANALYSIS

In [31]:
# 5. Distribution Analysis
plt.figure(figsize=(15, 10))
for i, col in enumerate(numeric_columns, 1):
    plt.subplot(2, 3, i)
    
    # Histogram with KDE
    sns.histplot(df_processed[col], kde=True)
    plt.title(f'{col} Distribution')
    plt.tight_layout()

plt.savefig('distribution_plots/histograms.png')
plt.close()

In [32]:
# Box Plots
plt.figure(figsize=(15, 5))
df_processed[numeric_columns].plot(kind='box')
plt.title('Box Plot of Numeric Columns')
plt.tight_layout()
plt.savefig('distribution_plots/boxplots.png')
plt.close()

6. RELATIONSHIP EXPLORATION

In [33]:
# 6. Relationship Exploration
# Correlation Matrix
correlation_matrix = df_processed[numeric_columns].corr()

In [34]:
# Correlation Heatmap
plt.figure(figsize=(10, 8))
sns.heatmap(correlation_matrix, annot=True, cmap='coolwarm', center=0)
plt.title('Correlation Heatmap')
plt.tight_layout()
plt.savefig('distribution_plots/correlation_heatmap.png')
plt.close()

print(correlation_matrix)

               Open      High       Low     Close  Adj Close    Volume
Open       1.000000  0.998605  0.998508  0.996812   0.996812 -0.415838
High       0.998605  1.000000  0.998203  0.998551   0.998551 -0.400699
Low        0.998508  0.998203  1.000000  0.998544   0.998544 -0.432116
Close      0.996812  0.998551  0.998544  1.000000   1.000000 -0.413362
Adj Close  0.996812  0.998551  0.998544  1.000000   1.000000 -0.413362
Volume    -0.415838 -0.400699 -0.432116 -0.413362  -0.413362  1.000000

In [35]:
# Display the first few rows of processed data
print("\nProcessed Data Preview:")
display(df_processed.head())

Processed Data Preview:

,Date,Open,High,Low,Close,Adj Close,Volume
0,2018-02-05,262.000000,267.899994,250.029999,254.259995,254.259995,11896100
1,2018-02-06,247.699997,266.700012,245.000000,265.720001,265.720001,12595800
2,2018-02-07,266.579987,272.450012,264.329987,264.559998,264.559998,8981500
3,2018-02-08,267.079987,267.619995,250.000000,250.100006,250.100006,9306700
4,2018-02-09,253.850006,255.800003,236.110001,249.470001,249.470001,16906900